body{margin: 0;padding: 0;max-width: 100%;}
*html{padding:0px;max-height: 100;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0; font-size:14px; font-family:"微软雅黑"; z-index:1;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
ul,li {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}   
sub{vertical-align:baseline;}
legend{color:#000;}
body{ color:#585858;}
a{ text-decoration:none; color:#333}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
header,nav,section,article,footer,figure,menu{ margin:0px; padding:0px; display:block}
body{ width: 100%; min-width: 1440px; margin: auto; background: #FFFFFF;}
.clear{clear:both;height:0;font-size:0;line-height:0;visibility:hidden; overflow:hidden;}
.fl{float: left;}
.fr{float: right;}
.flex{display: flex;display: -webkit-flex;display: -ms-flexbox;}
.flex dd{flex: 1;}
.flex .first{margin-right: 0.1rem;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
#swt {cursor: pointer;}
.blank{ width:1000px; height:10px; margin:auto;}
.blank20{ width:1000px; height:20px; margin:auto;}